@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500&display=swap");
@import './common.scss';
@import './theme/light.scss';

:root {
  background-color: var(--color-bg-primary);
  color: var(--color-font-primary);

  font-family: "Zen Maru Gothic", sans-serif;
  --default-border-radius: 7px;

  --primary-font-size: 2em;
  font-size: 110%;
}

body {
  margin: 0;
  height: 100%;

  overscroll-behavior-y: none;
}

div {
  box-sizing: border-box;
}

#app {
  display: flex;
  height: 100%;
  overflow: hidden;
  margin: 0;

  @media (width < 700px) {
    flex-direction: column;
    & > * {
      flex-grow: 1;
    }
  }

  @media (width > 700px) or (width: 700px) {

  }
}

.container {
  display: flex;
  flex-direction: column;

  margin: 0 auto;

  @media (width < 700px) {
    width: 95%;
    flex-direction: column;
  }

  @media (width > 700px) or (width: 700px) {
    flex-grow: 0.95;
  }

  fieldset {
    border: solid 2px;
    border-radius: 7px;

    margin: 0;
    padding: .5rem;

    legend {
      font-size: 1.2em;
      font-weight: 600;
    }

    .form-group {
      @extend .flex-center;

      @media (width < 700px) {
        width: 100%;
      }
        
      @media (width > 700px) and (width: 700px) {
        width: 50%;
      }
    }
  }

  & > table, video {
    margin: .5rem auto;
    padding: 0;
    border-radius: 7px;

    @media (width < 700px) {
      width: 90%;
    }

    @media (width > 700px) and (width: 700px) {
      width: 100%;
    }
  }
}

ul {
  padding: 0;
}

li {
  
  list-style: none;
}

/*text*/
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--color-font-primary);
  text-decoration: none;

  &:active {
    background-color: none;
  }
}

.h1 {
  font-size: var(--primary-font-size);
}

.h2 {
  font-size: calc(var(--primary-font-size) * 0.875);
}

.h3 {
  font-size: calc(var(--primary-font-size) * 0.75);
}

.h4 {
  font-size: calc(var(--primary-font-size) * 0.625);
}

/*form*/
input,
select,
textarea {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Zen Maru Gothic", sans-serif;
  border: none;

  font-size: 1rem;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::placeholder,
  &:focus::placeholder {
    position: absolute;
    top: 0;
    font-family: "Zen Maru Gothic", sans-serif;
    color: rgb(110, 110, 110);
  }

  &:focus {
    outline: none;
    font-family: "Zen Maru Gothic", sans-serif;
  }
}

.material-symbols-outlined {
  user-select: none;
}