#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin: 0 0 1rem 0;
  max-width: 900px;
}

form[class='container'] {
  width: 100%;
  max-width: 900px;
  fieldset {
    border: solid 1px;

    margin: 0;

    legend {
      font-size: 140%;
    }

    .form-group {
      display: flex;
      align-items: center;

      label {
        margin-right: 1rem;

        white-space: nowrap;
      }

      input {
        font-size: 100%;

        &[type='text'] {
          height: 1.4rem;
          width: 100%;
          padding: 0 0.5rem;

          border: solid 1px;
          border-radius: 0.5rem;

          &:focus {
            outline: none;
          }
        }

        &[type='checkbox'] {
          width: 1rem;
          height: 1rem;

          margin: 0;
        }
      }

      select {
        &:focus {
          outline: none;
        }
      }

      button {
        height: 1.4rem;
        padding: 0 1rem;

        font-size: 110%;

        border: solid 1px;
        border-radius: 0.5rem;
      }
    }
  }
}

div[class='container'] {
  display: flex;

  border: solid 1px;
  width: calc(100% - 2rem);
  max-width: calc(900px - 2rem);
  padding: 1rem;

  video {
    width: 40%;
    border-radius: 7px;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 60%;

    margin: 0;
    padding: 0 1rem;
    li {
      &::marker {
        content: none;
      }
    }
  }
}
