:root {
  --color-accent: rgb(63, 167, 236);

  --color-font-primary: rgb(26, 26, 26);
  --color-font-tertiary: rgb(160, 160, 160);
  --color-icon-primary: rgb(100, 100, 100);
  --color-bg-primary: rgb(240, 240, 240);
  --color-bg-secondary: rgb(230, 230, 230);
}
